
<div id="main">
    <div id="reel">
        <div id="header" class="item" data-width="400">
            <div class="inner">

                <h1>STYO.ME</h1>
                <h1>時尚達人</h1>
            </div>
        </div>
        <% @girls.each do |g| %>
        <article class="item thumb" data-width="282">
            <h2><%= g.name %></h2>
            <%= link_to (image_tag g.avatar.url), girl_path(g)  %>
        </article>
        <% end %>
    </div>
</div>

</div>