<h1>show product</h1>

<%= render_product_photo(@product.main_photo) %>
<%= link_to "加入購物車", add_to_cart_product_path(@product) %>

<ul><% @photos.each do |photo| %>
  <li><%= image_tag photo.images.url(:medium) %></li>
<% end %>
</ul>





