<h1>訂購完成</h1>

<p><%= "Dear #{@user.email}：" %></p>

<p>親愛的客戶您好，感謝您訂購STYO.ME購物的優質商品。待您完成本筆交易的訂購程序，我們將會儘快為您處理訂單並安排出貨。</p>
<p><%= "總金額：#{@total}" %></p>
<h5>轉帳資訊: 銀行代號 013 (國泰世華銀行)　帳號003-03-500637-0 
</h5>

